{{!
This file is part of Moodle - https://moodle.org/

Moodle is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Moodle is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Moodle. If not, see
<http: //www.gnu.org/licenses />.
}}
{{!
@template plugintype_pluginname/template_name

Template purpose and description.

Classes required for JS:
* none

Data attributes required for JS:
* none

Context variables required for this template:
* none

Example context (json):
{
}
}}
<style>
    table.lms_custom_table td {
        height: 100%;
        vertical-align: middle;
    }
</style>
{{#breadcrumbobj}}
<div style="margin-bottom: 20px;"><a href="{{{ urlgiaoandientu }}}">Giáo án điện tử / </a>{{ parentname }}{{categorycurr}} / {{ course }} / <b>{{ name }}</b></div>
{{/breadcrumbobj}}
<table class="table table-striped lms_custom_table">
    <thead>
        <tr>
            <th scope="col">Thời gian gửi</th>
            <th scope="col">Phản hồi</th>
            <th scope="col">Trạng thái</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {{#storerecords}}
        <tr>
            <td>{{#userdate}} {{timecreated}} {{/userdate}}</td>
            <td>{{ feedback }}</td>
            <td>{{ message }}</td>
            <td>
                {{#urldownload}}
                    <a href="{{{ urldownload }}}">Tải xuống</a>
                {{/urldownload}}
            </td>
        </tr>
        {{/storerecords}}
    </tbody>
</table>

{{^storerecords}}
<p style="text-align: center; font-size: 20px;">Không có bản ghi nào hiển thị.</p>
{{/storerecords}}