<style>
  .footer_one {
    padding: 65px 0 20px 0 !important;
  }
  .footer_one {
    background-image: url(https://testlms.vinhuni.edu.vn/pix/lms-indexpage/Footer/BackgroundFooter.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  .footer_contact_widget li:hover a,
  .footer_company_widget li:hover a,
  .footer_program_widget li:hover a {
    padding-left: unset;
    transform: translateX(10px);
    display: inline-block;
  }
  .lms-footer-separate {
    width: 100%;
    height: 2px;
    background-color: #fff;
    margin: 30px 0;
    border: 4px;
  }
</style>

<!-- Chỉnh sửa footer: /theme/edumy/templates/ccn_footer_default.mustache -->

<section class="footer_one {{#footer_2}} home3 {{/footer_2}} {{#footer_3}} home4 {{/footer_3}}">
  <div class="container">
    <div class="row" style="padding: 0 52px;">
      {{#footer_column_1}}
        <div class="{{{footer_col_1_class}}}">
          <div class="footer_contact_widget {{#footer_2}} home3 {{/footer_2}} {{#footer_3}} home4 {{/footer_3}}">
            <h4>{{{ footer_col_1_title }}}</h4>
            {{{ footer_col_1_body }}}
          </div>
        </div>
      {{/footer_column_1}}
      {{#footer_column_2}}
        <div class="{{{footer_col_2_class}}}" style="display: flex; justify-content: flex-end;">
          <div class="footer_company_widget {{#footer_2}} home3 {{/footer_2}} {{#footer_3}} home4 {{/footer_3}}" style="width: calc(fit-content + 10px);">
            <h4>{{{ footer_col_2_title }}}</h4>
            {{{ footer_col_2_body }}}
          </div>
        </div>
      {{/footer_column_2}}
      {{#footer_column_3}}
        <div class="{{{footer_col_3_class}}}" style="display: flex; justify-content: flex-end;">
          <div class="footer_program_widget {{#footer_2}} home3 {{/footer_2}} {{#footer_3}} home4 {{/footer_3}}" style="width: calc(fit-content + 10px);">
            <h4>{{{ footer_col_3_title }}}</h4>
            {{{ footer_col_3_body }}}
          </div>
        </div>
      {{/footer_column_3}}
      {{#footer_column_4}}
        <div class="{{{footer_col_4_class}}}">
          <div class="footer_support_widget {{#footer_2}} home3 {{/footer_2}} {{#footer_3}} home4 {{/footer_3}}">
            <h4>{{{ footer_col_4_title }}}</h4>
            {{{ footer_col_4_body }}}
          </div>
        </div>
      {{/footer_column_4}}
      {{#footer_column_5}}
        <div class="{{{footer_col_5_class}}}">
          <div class="footer_apps_widget {{#footer_2}} home3 {{/footer_2}} {{#footer_3}} home4 {{/footer_3}}">
            <h4>{{{ footer_col_5_title }}}</h4>
            {{{ footer_col_5_body }}}
          </div>
        </div>
      {{/footer_column_5}}
    </div>
    <div class="row">
      <div class="col">
        <div class="lms-footer-separate"></div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h4 style="color: #fff; text-align: center; font-size: 15px;">LMS VinhUni © 2022<br>Phát triển trên mã nguồn mở Moodle</h4>
      </div>
    </div>
  </div>
</section>
